
/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Colors
 **/

* {
    background:     #20212CFF;
    background-alt: #282B3CFF;
    foreground:     #C0CAF5;
    selected:       #7A95C9;
    active:         #414868;
    urgent:         #ECD3A0;
}
