#appcontent
  > #tabbrowser-tabbox
  > #tabbrowser-tabpanels
  > .deck-selected
  > .browserContainer
  > .browserStack
  > browser {
  border-radius: 16px !important;
  margin: 14px !important;
}

.browserContainer {
  background-color: var(
    --lwt-accent-color-inactive,
    var(--lwt-accent-color)
  ) !important;
  background-image: var(--lwt-header-image), var(--lwt-additional-images) !important;
  background-repeat: no-repeat, var(--lwt-background-tiling) !important;
  background-position: right top, var(--lwt-background-alignment) !important;
}

#navigator-toolbox-background {
  height: 0 !important;
}

#titlebar {
  display: none !important;
}

.titlebar-buttonbox-container {
  display: none !important;
}

#webrtcIndicator {
  display: none !important;
}

#navigator-toolbox {
    position: relative;
    z-index: 1;
    height: 10px;
    margin-bottom: 0px;
    overflow: hidden;
    transition-property: height;
    transition-delay: 1s;
    transition-duration: 2s;
}

#navigator-toolbox:hover {
    height: 40px;
    transition-property: height;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

#navigator-toolbox:focus-within {
    height: 40px;
    transition-property: height;
}

