@mixin rounding {
  border-radius: 13px;
}

@mixin window {
  @include rounding;
  border: 1px solid $border;
  box-shadow: 0 2px 3px $shadow;
  margin: 5px 5px 10px;
}

* {
  all: unset;
  transition: 400ms ease;
}

// Colors
@import 'css/colors';

// Bar Modules
@import 'css/modules/music';
@import 'css/modules/system';
@import 'css/modules/weather';
@import 'css/modules/workspaces';
@import 'css/modules/others';
@import 'css/modules/launcher';
@import 'css/modules/noti';
@import 'css/modules/clock';

// Widgets Modules
@import 'css/widgets/menu';
@import 'css/widgets/calendar';
@import 'css/widgets/power';

.bar {
  background-color: $bg;
  color: $fg;
  border-radius: 2px;
  label {
    font-size: 1.32rem;
  }
}


/* right modules (circular-progress) */
.cpu-bar { color: $blue; }
.membar { color: $orange; }
.batbar { color: $green; }

.cpu-bar,
.membar,
.batbar { background-color: $bg1; }

.iconmem { color: $orange; }
.iconcpu { color: $blue; }

.icon-text {
  font-size: 3rem;
  padding: .7rem;
}

/* system box cpu & memory info */
.sys-text-sub {
  color: $white;
}

.sys-text-mem,
.sys-text-cpu {
  font-size: 1rem;
  font-weight: bold;
}

.sys-icon-mem,
.sys-icon-cpu {
  font-size: 1.5rem;
  margin: 1.5rem;
}

.system-info-box {
  @include rounding;
  background-color: $bg1;
  margin: .5rem 1rem;
  padding: .5rem;
}

.sys-mem,
.sys-cpu {
  background-color: $bg;
}

.sys-icon-mem,
.sys-text-mem,
.sys-mem {
  color: $orange;
}

.sys-icon-cpu,
.sys-text-cpu,
.sys-cpu {
  color: $blue;
}
