.launcher_module {
  @include rounding;
  background: $bg2;
  margin: 5px 6px 5px 11px;
  padding-right: 14px;
  padding-left: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  &:hover {
    background-color: $grey;
  }
}
