.music_modules {
  @include rounding;
  background-size: cover;
  margin: 6px 8px 6px 10px;
  min-height: 35px;
  min-width: 80px;
  .music_art{
      background-position: center;
      background-size: cover;
      min-width: 30px;
      min-height: 25px;
      margin: 6px 1px 6px 10px;
      padding: 8px;
      border-radius: 6px;
  }
}

.music_title-modules {
  font-family: "Iosevka Nerd Font";
  margin-left: 0.9rem;
}

.song-cover-art {
  background-position: center;
  background-size: cover;
  margin: 4.5px 2px 4.5px 1px;
  min-height: 22px;
  min-width: 22px;
  padding: 10px;
  border-radius: 3px;
}

.music-window {
  @include window;
  background-color: $bg;
  border: 1px solid $border;
  color: $fg;
}

.music-cover-art {
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  margin: 1em;
  min-height: 170px;
  min-width: 170px;
}

.music-box {
  margin: 1rem 1rem 1rem 0;
}

.music-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.music-artist {
  color: $grey_fg;
}

.music-button label {
  color: $grey_fg;
  font-size: 2rem;
}

.music-time {
  color: $grey_fg;
  margin: 0 1rem;
}

.song-button_previous,
.song-button_next,
.song-button_status,
.music_modules-icon {
  font-family: 'Font Awesome 6 Free';
  animation: 100ms;
  padding: 4px;
  &:hover {
    color: $grey;
  }
}

.song-button_status {
  margin: 0px 2px 0px 2px;
}

.song-button_previous{
  margin: 0px 0px 0px 18px;
}

.song-button_next{
  margin: 0px 10px 0px 0px;
}
