.workspaces {
  background-color: $bg2;
  @include rounding;
  margin: 5px -1px 5px 8px;
  padding: 10px;
  inner {
    &:hover {
      background-color: $grey;
    }
  }
  button {
    border-style: none;
    box-shadow: inherit;
    text-shadow: inherit;
    background-color: $dark_grey;

    margin: 5px 10px 5px 8px;
    padding-left: 7px;
    min-width: 11px;
    min-height: 17.5px;
    border-radius: 20px;

    &:hover {
      background-color: $light_grey;
    }
    &.occupied {
      background: $light_grey;
      margin-left: 8px;
      margin-right: 10px;

      min-width: 12px;
      min-height: 18px;
      border-radius: 10px;

      &:hover {
        background-color: $grey;
      }
    }
    &.active {
      background: #CDD6F4;
      border-radius: 18px;

      min-height: 19.5px;
      min-width: 38px;
    }
  }
}
