[Desktop Entry]
Name=Dracula
X-KDE-PluginInfo-Author=EliverLara
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=eliverlara@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Dracula
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/EliverLara/Ant-Dracula/tree/master/kde
X-KDE-ServiceTypes=Plasma/LookAndFeel

X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1370679,kns://plasma-themes.knsrc/api.kde-look.org/1370687,kns://plasma-themes.knsrc/api.kde-look.org/1420691,kns://aurorae.knsrc/api.kde-look.org/1370682,kns://sddmtheme.knsrc/api.kde-look.org/1374247,kns://wallpaper.knsrc/api.kde-look.org/1378234,kns://xcursor.knsrc/api.kde-look.org/1669262