/**************
 * List boxes *
 **************/
.list,
.list-row {
    font-weight: normal;
    background-color: @base_color;
}

.list-row.button {
    padding: 4px;
    background-color: @base_color; 
    color: @fg_color;
    font-weight: normal;
    border: none;
    border-radius: 0px;
}

.list-row.button:hover {
    transition: none;
    background-color: mix(@base_color,@bg_color, 0.2);
    color: @fg_color;
}
    
.list-row.button:active, 
.list-row.button:active:hover {
    background-color: mix(@base_color,@bg_color, 0.4);
    color: @theme_fg_color;
}

.list-row.button:selected:hover {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

.list-row.button:checked,
.list-row.button:selected, 
.list-row:selected,    
.list-row.button:selected:active:hover {
    background-color: shade(@selected_bg_color, 0.9); 
    color: @selected_fg_color;
}

/*selected-row buttons*/
.list-row.button:selected .button:hover,
.list-row.button:selected .button:active {
    color: @selected_fg_color;
}
